.container
  .hero-unit
    %h1 Welcome to Budgetr!
    %p Budget software based on the envelope system. Stop letting your money rule your life and start ruling your money
    %br
    %p
      %a{:class => "btn primary large"} Login &raquo;
  %footer
    %p &copy; Budgetr 2011
