%html
  %head
    %title Budgetr
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    :plain
      <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
      <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->

      <style type="text/css">
        body {
          padding-top: 60px;
        }
      </style>
  %body
    .topbar
      .fill
        .container
          %a.brand{:href=> root_path}Budgetr
          %ul.nav
            %li.active
              %a{:href => "#"}Home
            %li
              %a{:href => "#about"}About
            %li
              %a{:href => "#contact"}Contact
          -unless current_user
            =form_tag user_session_path, :class => "pull-right" do
              =text_field_tag "user[email]",nil,  :class => "input-small", :placeholder => "email"
              =password_field_tag "user[password]", nil,  :class => "input-small", :placeholder => "password"
              %button.btn{:type => "submit"}Sign In
          -else
            .pull-right
              =button_to "Logout", destroy_user_session_path, :method => :delete
    - if flash[:notice]
      .alert-message.info{"data-alert" => "alert"}
        %a.close{:href => "#"}x
        %p=flash[:notice]
    - if flash[:alert]
      .alert-message.error{"data-alert" => "alert"}
        %a.close{:href => "#"}x
        %p=flash[:alert]
    - if flash[:error]
      .alert-message.error{"data-alert" => "alert"}
        %a.close{:href => "#"}x
        %p=flash[:error]
    = yield
